header.header
  .logo
    include ./logo
  //- ul.nav
  //-   li.nav__item
  //-     a.nav__link(href="#about")
  //-       | About
  //-   li.nav__item
  //-     a.nav__link(href="#mission")
  //-       | Mission
  //-   li.nav__item
  //-     a.nav__link(href="#contact")
  //-       | Contact