.home__content__words
  <p>
    | I am 
  each item, index in words
    a.home__content__words__word(
      class=`i_am__word--${item.data.word.replace(/\s+/g, '_')}`
      href=`${item.data.word.replace(/\s+/g, '_')}`) #{item.data.word}
    img.home__content__words__image(data-src=item.data.thumbnail.url)
    if index < words.length-1
      |, 
    else
      |.
  </p>