.home__content__words__images
  each item in words
    .home__content__words__image__wrapper(id=`image--${item.data.word.replace(/\s+/g, '_').toLowerCase()}`)
      img.home__content__words__word__image(data-src=item.data.thumbnail.url)