doctype html
html(lang="en")
  head
    include ./partials/head
  
  body 

  .preloader 0%

block content
  .home
    .home__wrapper
      .content
          p.content__hello=page.data.hello 
          //- p.test=words
          include ./partials/words
          
          .content__blurb !{ PrismicDOM.RichText.asHtml(page.data.blurb) }
          