doctype html
html(lang="en")
  head
    include ./partials/head
  
  body 

  .preloader
    .preloader__number
     | 0%

  .home
    .home__wrapper
      .content
          p.content__hello=page.data.hello 
          //- p.test=words
          include ./partials/words
          
          .content__blurb !{ PrismicDOM.RichText.asHtml(page.data.blurb) }
          
  script(src="app/index.js")