block variables 

doctype html
html(lang="en")
  head
    include ./partials/head
  
  body
    include ./partials/preloader

    .content#content(data-template=template)
      block content

    script.
      window.WORDS = !{JSON.stringify(words) || JSON.stringify([])}
      
    script(src="app/index.js")