.home {
  @extend %cover;
  &__wrapper {
    @extend %cover;
    display: flex;
    justify-content: center;
  }

  &__content {
    margin-top: 10rem;
    max-width: 83rem;

    @include media('<phone') {
      margin: 2rem 4rem;
    }

    &__hello,
    &__blurb {
      @extend %text-36;
      color: $color-snow;
      margin-top: 4rem;
      max-width: 70rem;
    }

    &__words {
      @extend %text-72;
      margin-top: 4rem;
      font-family: $font-nm-bold;
      max-width: 83rem;
    }

    &__words__image {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  }
}
