.home {
  @extend %page;
}

.home__wrapper {
  display: flex;
  justify-content: center;
}

.home__content {
  margin-top: 10rem;
  max-width: 125rem;

  @include media('<phone') {
    margin: 8rem 4rem;
  }
}

.home__content__hello,
.home__content__blurb {
  @extend %text-22;
  color: $color-snow;
  margin-top: 4rem;
  max-width: 52rem;
}

.home__content__blurb {
  color: $color-gray;
}

.content__words,
.content__words a {
  @extend %text-140;
  font-family: $font-header;
  max-width: 120rem;
  position: relative;
  z-index: z('content');
  color: transparent;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(60, 60, 60);

  @include media('<phone') {
    font-size: 8.6rem;
    max-width: 140rem;
    white-space: nowrap;
  }
}

.words__word {
  cursor: pointer;
  display: inline-block;
  &:hover {
    color: white;
  }
}

.words__thumbnails__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: z('thumbnail');
  border-radius: 15px;
}

.words__thumbnail {
  opacity: 0;
  position: absolute;
  filter: grayscale(1);
}
