.grid {
  display: grid;
  gap: 2rem;

  &--2cols {
    grid-template-columns: repeat(2, 1fr);
  }

  &--3cols {
    grid-template-columns: repeat(3, 1fr);
  }

  &--4cols {
    grid-template-columns: repeat(4, 1fr);
  }
}

.home {
  @extend %page;
}

.home__wrapper {
  display: flex;
  justify-content: center;
}

.home__content {
  @include media('<phone') {
    margin: 8rem 4rem;
  }
}

section,
footer {
  padding: 14rem 8rem;
  min-height: 100vh;
}

.intro {
  background-color: black;
  // position: relative;

  // padding: 0 8rem 16rem;
  border-bottom: 1px solid black;
}
.intro__container {
  background-color: $color-main;
  border: 0.3rem solid black;
  position: relative;
  padding: 10rem 1rem;
  margin: 0 -1rem;
}

.intro__copy {
  margin-top: 4rem;
  margin-bottom: 10rem;
  @extend %text-186;
  // text-align: justify;
  z-index: z('intro-copy');
  position: relative;
}

.intro__image_container {
  background-color: $color-main;
  position: absolute;
  right: 24rem;
  top: 0rem;
  z-index: z('intro-image');
}

.intro__image {
  mix-blend-mode: multiply;
  width: 100rem;
}

.intro__proposition {
  @extend %text-36;
  position: relative;
  // left: 13rem;
  // top: 24rem;

  max-width: 50%;
  padding: 1.3rem 1.8rem 1rem;
  z-index: z('intro-copy');
}

.mission {
  padding: 22rem 24rem;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.mission__stream_container {
  width: 106rem;
  height: 60rem;
  border: 1px solid black;
  margin-bottom: 2rem;
}
.benefit__copy,
.benefit__amount {
  @extend %text-36;
  max-width: 64rem;
  margin-left: 4rem;

  p {
    margin-bottom: 4rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.benefit__amount {
  @extend %text-52;
  background-color: $color-main;
  display: inline-block;
  padding: 0 1rem;
  margin-left: 3rem;
}

.about {
  padding: 22rem 24rem;
  background-color: black;
  color: white;
}

.copy__column1,
.copy__column1 {
  h2 {
    @extend %title-64;
  }
  h3 {
    font-weight: bold;
    text-transform: uppercase;
  }
  p,
  ul {
    @extend %text-22;
    margin-bottom: 4rem;
  }
  @extend %text-22;
}

.copy__column1 {
  margin-right: 3rem;
}

.motivation {
  padding: 22rem 24rem;
  display: flex;
  align-items: center;
}

.motivation_copy {
  h2 {
    @extend %title-72;
  }
  p {
    @extend %text-52;
  }
}

.footer {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22rem 24rem;
}

.footer__copy__container {
  @extend %text-36;
  color: white;
  max-width: 82rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__socials {
  li {
    display: inline-block;
    text-transform: uppercase;

    &::after {
      content: ' / ';
      margin-right: 1rem;
    }
    &:last-of-type::after {
      content: '';
      margin-right: 0;
    }
  }
}

.footer__image {
}

.footer__image_container {
}
