.world {
  @extend %page;

  img {
    max-width: 100%;
  }
}

.world__back__button {
  @extend %text-22;
  position: absolute;
  display: block;
  left: 3rem;
  top: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid white;
}

.world__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.world__header__wrapper {
  position: relative;
}

.world__header {
  position: absolute;
  top: 10rem;
}

.world__content {
  max-width: calc(100vw - 200px);
}

.world__title {
  @extend %text-126;
  font-family: $font-header;
  text-align: left;
  margin: 0 0 6rem;
  max-width: 60rem;
  z-index: z('world');
}

.intro__filler {
  width: 33rem;
}

.world__word {
  @extend %text-22;
  font-family: $font-header;
  position: relative;
  left: -12rem;
  bottom: -4rem;
  text-align: right;
  max-width: 12rem;
  text-transform: uppercase;
}

.world__intro,
.features__feature {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column-gap: 3rem;
  margin-bottom: 20rem;
}

.feature__image,
.world__image,
.feature_details__image {
  border-radius: 15px;
  filter: grayscale(1);
  z-index: z('thumbnail');
}

.world__blurb,
.feature__blurb {
  font-family: $font-nm-bold;
  @extend %text-18;
  margin-top: 18rem;
}

.world__blurb {
  margin-top: 36rem;
}

.feature__blurb {
  @extend %text-18;
  font-family: $font-nm-regular;
}
