.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 8.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: z('header');
}

.nav {
  list-style-type: none;
}

.nav__item {
  display: inline-block;
  margin: 0 3rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.nav__link {
  color: $color-black;
  @extend %text-22;
}
