%cover {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
}

%fill-screen {
  width: 100%;
  min-height: 100vh;
}

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%page {
  @extend %cover;
  opacity: 0;
  z-index: z('content');
}

%page__wrapper {
  color: inherit;
}

%padded {
  padding: 22rem 24rem;
}
