$color-black: #000;
$color-main: #ccff00;
$color-black-lighter: #050505;
$color-gray: rgb(100, 100, 100);
$color-snow: #f4f4f4;
$color-white: #fff;

$font-nm-bold: 'NeueMontreal Bold';
$font-nm-regular: 'NeueMontreal Regular';

$font-header: 'EditorialNew-Regular';
$font-body: 'Roboto';

$z-indexes: ('preloader', 'header', 'content', 'intro-copy', 'intro-image');
