*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  // ('viewport width' / 'design document width' * 10)
  // will setup font size so that 5.3rem equals 53px when viewport is 1920px
  // and will scale responsively.
  font-size: calc(100vw / 1920 * 10);

  @extend %cover;
  position: fixed;
  overflow: hidden;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }

  // @include media('<phone') {
  //   font-size: calc(100vw / 750 * 10);
  // }
}

body {
  font-family: $font-nm-regular;
  @extend %cover;
  position: fixed;
  background-color: $color-main;
  color: $color-black;
}

a {
  text-decoration: none;
  color: white;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}
