extends ../layout.pug

block variables 
  - var template = 'home'

block content

  .home
    .home__wrapper
      .home__content
        .content__words !{ PrismicDOM.RichText.asHtml(page.data.content) }

        .words__thumbnails
          each item in words
            .words__thumbnails__wrapper(id=`image--${item.data.word.replace(/\s+/g, '_').toLowerCase()}`)
              img.words__thumbnail(data-src=item.data.thumbnail.url)
                
        