extends ../layout.pug

block variables 
  - var template = 'home'

block content
  script.
    var words = !{JSON.stringify(words)}
    
  .home
    .home__wrapper
      .home__content
        .home__content__words !{ PrismicDOM.RichText.asHtml(page.data.content) }

        include ../partials/words
        