extends ../layout.pug

block variables 
  - var template = 'home'

block content

  .home
    .home__wrapper
      .home__content
        .home__content__words !{ PrismicDOM.RichText.asHtml(page.data.content) }

        .home__content__words__images
          each item in words
            .home__content__words__image__wrapper(id=`image--${item.data.word.replace(/\s+/g, '_').toLowerCase()}`)
              img.home__content__words__word__image(data-src=item.data.thumbnail.url)
                