extends ../layout.pug

block variables 
  - var template = 'test'

block content
  .test
    .test__wrapper
      .test__content

        p This is a test page.
        a(href="/") Home
        
        